@page
@{
    // ViewData["whitepaper"] = "";
}
<section class="featured-posts-section">
    <div class="row">
        <div class="col-md-4 fetured-post blog-post" data-aos="fade-right">
            <div class="blog-post-thumbnail-wrapper">
                <img style="width: 98%;" src="~/img/blog_1.png" alt="blog post">
            </div>
            <p class="blog-post-category">Blog post</p>
            <a asp-area="" asp-controller="Blogs" asp-action="Whitepaper">
                <h6 style="font-size: 26px; color: #000000; font-weight: bold; margin-bottom:20px;" class="blog-post-title">Sybatcoin Whitepaper</h6>
            </a>
        </div>
        <div class="col-md-4 fetured-post blog-post" data-aos="fade-right">
            <div class="blog-post-thumbnail-wrapper">
                <img style="width: 98%;" src="~/img/blog_1.png" alt="blog post">
            </div>
            <p class="blog-post-category">Blog post</p>
            <a href="#!" class="blog-post-permalink">
                <h6 style="font-size: 26px; color: #000000; font-weight: bold; margin-bottom:20px;" class="blog-post-title">Sybatcoin Quantum Proof of State QPoS</h6>
            </a>
        </div>
        <div class="col-md-4 fetured-post blog-post" data-aos="fade-right">
            <div class="blog-post-thumbnail-wrapper">
                <img style="width: 98%;" src="~/img/stateless_tech.png" alt="blog post">
            </div>
            <p class="blog-post-category">Blog post</p>
            <a href="#!" class="blog-post-permalink">
                <h6 style="font-size: 26px; color: #000000; font-weight: bold; margin-bottom:20px;" class="blog-post-title">Stateless Technology</h6>
            </a>
        </div>
    </div>
</section>