@page
@{
    // ViewData["whitepaper"] = "";
    var today = DateTime.Now;
}
        <div class="container">
            <h1 class="edica-page-title border-bottom" data-aos="fade-up" style="margin-top: 20px;">Sybatcoin Whitepaper</h1>
            <p class="edica-blog-post-meta border-bottom" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 20px;">Written by AntimonyIQ • July 20, 2022 • 6:31 pm</p>
            <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
                <img src="~/img/blog_1.png" alt="featured image" class="w-100">
            </section>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <p>The prevailing model of quantum computation describes the computation in terms of a network of quantum logic gates. Entanglement is an intrinsically quantum effect that involves nonclassical correlations, usually between spatially separated quantum systems. This phenomenon was described by Einstein as “spooky action at a distance”, and yet it forms the basis of nearly all quantum information platforms, such as quantum computers and quantum networks. </p>
                        <p>In particular, quantum networks distribute quantum information between any two nodes on the network. This allows the distributed system to carry out valuable tasks such as quantum key distribution QKD, which guarantees secure communication through the laws of physics. Significant progress is currently being made towards the creation of a global quantum network, and it is becoming an increasing priority to find further applications that can be built on such a platform.</p> 
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <img src="assets/images/blog_post_1.jpg" alt="blog post" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-3" data-aos="fade-up">
                        <img src="assets/images/blog_post_2.jpg" alt="blog post" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-3" data-aos="fade-left">
                        <img src="assets/images/blog_post_3.jpg" alt="blog post" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <p data-aos="fade-up"><a href="#">Lorem ipsum, or lipsum as it is sometimes known,</a> is dummy text used in laying out printed graphic or web designs. The passage is at attributed to an unknown typesetters in 1the 5th century who is thought scrambled with all parts of Cicero’s De. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs</p>
                        <h2 class="mb-4" data-aos="fade-up">Blog single page</h2>
                        <ul data-aos="fade-up">
                            <li>What manner of thing was upon me I did not know, but that it was large and heavy and many-legged I could feel.</li>
                            <li>My hands were at its throat before the fangs had a chance to bury themselves in my neck, and slowly</li>
                            <li>I forced the hairy face from me and closed my fingers, vise-like, upon its windpipe.</li>
                        </ul>

                        <blockquote data-aos="fade-up">
                            <p>You are safe here! I shouted above the sudden noise. She looked away from me downhill. The people were coming out of their houses, astonished.</p>
                            <footer class="blockquote-footer">Oluchi Mazi</footer>
                        </blockquote>
                        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs. The passage is at attributed to an unknown typesetters in 1the 5th century who is thought scrambled with all parts of Cicero’s De. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs</p>
                    </div>
                </div>
            </section>
        </div>
        