@page
@{
    // ViewData["whitepaper"] = "";
    var today = DateTime.Now;
}
        <div class="container">
            <h1 class="edica-page-title border-bottom" data-aos="fade-up" style="margin-top: 20px;">Stateless Technology</h1>
            <p class="edica-blog-post-meta border-bottom" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 20px;">Written by AntimonyIQ • July 20, 2022 • 6:31 pm</p>
            <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
                <img src="~/img/quantum_shell.png" alt="featured image" class="w-100">
            </section>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <p>Imagine the mathematical department in a school with 11 students has a math test and then the test questions has 10 math problems on it, now one out of the 11 students is a super genius and has an elite sense of solving math problems with speed and accuracy. The teacher gives the super genius student all 10 questions of the math problem and one math problem each to the other 10 remaining students randomly, where each of the remaining 10 students are also good at solving math problem. </p>
                        <p>Now we have ten students working individually to solve one problem each, while the super genius student works on all 10 math problem. Now the question is who is going to finish first?</p> 
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <a href="https://t.ly/dJNi" target="_blank" rel="noopener noreferrer" style="color: #000; font-size: 16px; font-weight: bold;">Read On Medium</a>
                    </div>
                </div>
            </section>
            <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
                <img src="~/img/communication_shell.png" alt="featured image" class="w-100">
            </section>
            <h1 class="edica-page-title border-bottom" data-aos="fade-up" style="margin-top: 20px;">Why Stateless Technology?</h1>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <p>The great advantage of the mathematical undefined [1/0] stateless on the layer of quantum technology is endless. Stateless Technology is a Mathematical Computed Infrastructure on Qubit Machines with a data register accessible on the public web. </p>
                        <p>An induced computer program designed on a quantum state is solved simultaneously when compared to a classical computing machine even with more are more chips embedded as the classical computing machine follows the standard state of 1 and 0, unlike the quantum state which exist between 1, 0 and any value between that range state.</p> 
                        <p>The more qubits power the quantum machine possess the more the machine power expands exponentially when compared to the classical computing type.</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <a href="https://t.ly/dJNi" target="_blank" rel="noopener noreferrer" style="color: #000; font-size: 16px; font-weight: bold;">Read On Medium</a>
                    </div>
                </div>
            </section>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <h2 class="mb-4" data-aos="fade-up">Stateless Solutions</h2>
                        <ul data-aos="fade-up">
                            <li>Artificial Intelligence</li>
                            <li>Communication Technology</li>
                            <li>Blockchain Technology</li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <a href="https://t.ly/dJNi" target="_blank" rel="noopener noreferrer" style="color: #000; font-size: 16px; font-weight: bold;">Read On Medium</a>
                    </div>
                </div>
            </section>
        </div>