@page
@{
    // ViewData["whitepaper"] = "";
    var today = DateTime.Now;
}
        <div class="container">
            <h1 class="edica-page-title border-bottom" data-aos="fade-up" style="margin-top: 20px;">Sybatcoin Whitepaper</h1>
            <p class="edica-blog-post-meta border-bottom" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 20px;">Written by AntimonyIQ • July 20, 2022 • 6:31 pm</p>
            <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
                <img src="~/img/blog_1.png" alt="featured image" class="w-100">
            </section>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <p>The prevailing model of quantum computation describes the computation in terms of a network of quantum logic gates. Entanglement is an intrinsically quantum effect that involves nonclassical correlations, usually between spatially separated quantum systems. This phenomenon was described by Einstein as “spooky action at a distance”, and yet it forms the basis of nearly all quantum information platforms, such as quantum computers and quantum networks. </p>
                        <p>In particular, quantum networks distribute quantum information between any two nodes on the network. This allows the distributed system to carry out valuable tasks such as quantum key distribution QKD, which guarantees secure communication through the laws of physics. Significant progress is currently being made towards the creation of a global quantum network, and it is becoming an increasing priority to find further applications that can be built on such a platform.</p> 
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <a href="./whitepaper/Sybatcoin.pdf" target="_blank" rel="noopener noreferrer" style="color: #000; font-size: 16px; font-weight: bold;">Read The Documented PDF</a>
                    </div>
                </div>
            </section>
        </div>