@page
@{
}
<div class="text-center container-fluid p-1" style="padding-top: 50px;">
    <h1 class="display-4 txtr" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: 600; margin-top: 30px;">Download Sybatcoin wallet</h1>
</div>

<div class="container" style="background-color: #F4F3EE; padding: 30px; margin-top:30px; border-radius:5px;">
    <div class="row">
        <div class="col-sm p-1">
            <h2 class="hyperledge" style="color: #000; font-weight: 400; font-style: 'Poppins', sans-serif;">Sybatcoin Mobile <br> Wallet</h2>
            <span class="sybatcoin" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 38px; letter-spacing:12px; font-weight: 600; font-style: 'Poppins', sans-serif; text-fill-color: transparent; background-clip: text;">SYBATCOIN</span>
            <p id="description" style="font-size: 18px; color: #000;">The Sybacoin Wallet is a multi-purpose application platform that allows users to store, transfer and exchange digital quantumcoin. It can be used a means of payment and earnings as well. The mobile application is secured using sybatcoin blockchain and QKD encryption. <br><br>
                The mobile app allows for buying, holding and transferring of digital quantumcoin. Included other features are quantum communication and teleportation.
            </p>
        </div>
        <div class="col-sm p-1 text-center">
            <h1></h1>
            <img src="~/img/m_wallets.png" alt="mobile wallet" style="width: 98%;"><br>
            <a style="width: 200px; padding: 10px; padding-left: 50px; padding-right: 50px; border: 3px solid black; border-radius: 3px; color: #000; font-size: 18px; font-weight: bold;" class="text-center" href="#"><img style="width: 16px; height: 16px;" src="~/img/apk.png" alt="apk" /> Download </a>
        </div>
    </div>
</div>