@page
@model sybatnetwork.Views.Resources.ExchangesModel
@{
}

<div class="container-fluid p-3">
    <h1 class="display-4">Sybatcoin<br /> Trading Exchanges.</h1>
</div>

<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
</div>