@page
@model sybatnetwork.Views.New.CoreModel
@{
}

<div class="container-fluid p-3">
    <h1 class="display-6">Download Sybatcoin Core</h1>
    <p>With an embedded console, sybat software gives full access to blockchain interaction form any PC at anytime.</p>
</div>

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm">
            <div class="sybatcoin-card" style="margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px; background: linear-gradient(135deg, #ffffff 0%, #f0d8ff 48.29%, #ad31ff 100%); ">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/windows96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Download for Windows</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Sybat core developed executable software for windows operating system with automatically configuration tools download version 1.1.5</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Download x64</a> <br /><br />
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Download x86</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="sybatcoin-card" style="margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px; background: linear-gradient(135deg, #ffffff 0%, #f0d8ff 48.29%, #ad31ff 100%); ">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/apple96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Download for MacOS</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>MacOS chip based developed native software application to connect to sybatcoin blockchain and run local node download version 1.1.5 </p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Intel chip</a> <br /><br />
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Apple chip</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm">
            <div class="sybatcoin-card" style="margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px; background: linear-gradient(135deg, #ffffff 0%, #f0d8ff 48.29%, #ad31ff 100%); ">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/shell.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Install Command Tools</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Shell native binary command line tools with self-configurations instructions to locally run sybatcoin server and carryout blockchain interaction.</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">MacOS zsh</a> <br /><br />
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Windows psh</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="sybatcoin-card" style="margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px; background: linear-gradient(135deg, #ffffff 0%, #f0d8ff 48.29%, #ad31ff 100%); ">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/vscode.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Use VScode Extension</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Install the sybatcoin blockchain vscode extension, automatically configured for locally native usage on your favorite development software.</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Visit Store</a> <br /><br />
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Open VScode</a>
                </div>
            </div>
        </div>
    </div>
</div>
