@page
@model sybatnetwork.Views.New.IndexModel
@{
}

<div class="container-fluid p-3">
    <h1 class="display-6">Welcome to Sybatcoin</h1>
    <p>A blockchain Technology layered on the principle of quantum mechanics. Sybatcoin uses Quantum Cryptographic protocols to secure data on the blockchain and its entire proof-of-state logic. </p>
</div>

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm">
            <div class="sybatcoin-card" style="border: 1.5px solid #ffffff; margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px;">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/sybat96.png" alt="Sybatcoin Code"/>
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Sybatcoin Core</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Easy to use, sybatcoin powered software technology to interact with the code features of the sybatcoin blockchain</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="Core" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Download Software</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="sybatcoin-card" style="border: 1.5px solid #ffffff; margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px;">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/lavender96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Lavender</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>A data analytics and blockchain data explorer software platform available on desktops and mobile for sybatcoin blockchain</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm">
            <div class="sybatcoin-card" style="border: 1.5px solid #ffffff; margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px;">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/qubitnary96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Qubitnary Numbers</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Levitating from the classical model of numbering system to quantum model, sybatcoin uses a qubit binary (qubitnary) arithmetic system.</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="New" asp-action="QubitnaryNumbers" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="sybatcoin-card" style="border: 1.5px solid #ffffff; margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px;">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/qoka96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>QoKa</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>This is the first arithmetic calculator to compute qubit binary (qubitnary) operations like, addition, subtraction, multiplication, division, etc...</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Download App</a>
                </div>
            </div>
        </div>
    </div>
</div>

