@page
@model sybatnetwork.Views.New.QubitnaryNumbersModel
@{
}

<div class="container-fluid p-3">
    <h1 class="display-6">Qubitnary Numbers</h1>
    <p>An innovation into qubit technologies. Qubit Binary (qubinary) numbers are not an equivalent to binary numbers, the are the natural counting system designed for quantum qubit arithmethic operations, they use the complex number model to compute qubit superposition states and functions. </p>
</div>


<div class="container-fluid p-2">
    <h3 class="text-center">Table for (0 - 9) in qubitnary</h3>
    <table class="table text-center">
        <tbody>
            <tr>
                <td>Binary Number</td>
                <td>Qubitnary Number</td>
            </tr>
        </tbody>
        <tr>
            <td>0b0</td>
            <td>0q(1,0)</td>
        </tr>
        <tr>
            <td>0b1</td>
            <td>0q(0,1)</td>
        </tr>
        <tr>
            <td>0b10</td>
            <td>0q(0,10)</td>
        </tr>
        <tr>
            <td>0b11</td>
            <td>0q(0,11)</td>
        </tr>
        <tr>
            <td>0b100</td>
            <td>0q(0,100)</td>
        </tr>
        <tr>
            <td>0b101</td>
            <td>0q(0,101)</td>
        </tr>
        <tr>
            <td>0b110</td>
            <td>0q(0,110)</td>
        </tr>
        <tr>
            <td>0b111</td>
            <td>0q(0,111)</td>
        </tr>
        <tr>
            <td>0b1000</td>
            <td>0q(0,1000)</td>
        </tr>
        <tr>
            <td>0b1001</td>
            <td>0q(0,1001)</td>
        </tr>
    </table>
</div>


<div class="container-fluid p-3">
    <h1 class="display-6">Arithmetic Operations</h1>
    <p>Using the most common four basic operation: addition, subtraction, multiplication or division as implemeted on a computer under the correctly rounded or decimal value  </p>
</div>

<div class="container-fluid p-3">
    <h1 class="display-6">Qubitnary Additions</h1>
    <p>An innovation into qubit technologies. Qubit Binary (qubinary) numbers are not an equivalent to binary numbers, the are the natural counting system designed for quantum qubit arithmethic operations, they use the complex number model to compute qubit superposition states and functions. </p>
</div>

<div class="container-fluid p-3">
    <h1 class="display-6">Qubitnary Subtractions</h1>
    <p>An innovation into qubit technologies. Qubit Binary (qubinary) numbers are not an equivalent to binary numbers, the are the natural counting system designed for quantum qubit arithmethic operations, they use the complex number model to compute qubit superposition states and functions. </p>
</div>

<div class="container-fluid p-3">
    <h1 class="display-6">Qubitnary Division</h1>
    <p>An innovation into qubit technologies. Qubit Binary (qubinary) numbers are not an equivalent to binary numbers, the are the natural counting system designed for quantum qubit arithmethic operations, they use the complex number model to compute qubit superposition states and functions. </p>
</div>

<div class="container-fluid p-3">
    <h1 class="display-6">Qubinary Multiplications</h1>
    <p>An innovation into qubit technologies. Qubit Binary (qubinary) numbers are not an equivalent to binary numbers, the are the natural counting system designed for quantum qubit arithmethic operations, they use the complex number model to compute qubit superposition states and functions. </p>
</div>

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm">
            <div class="sybatcoin-card" style="margin: 10px; padding: 10px; padding-bottom: 30px; box-sizing: border-box; box-shadow: 0px 2px 4px rgba(100,100,100,0.5); border-radius: 5px; background: linear-gradient(135deg, #ffffff 0%, #f0d8ff 48.29%, #ad31ff 100%); ">
                <div class="sybatcoin-card-image" style="padding-top: 50px; padding-bottom: 50px;">
                    <img src="~/img/qubitnary96.png" alt="Sybatcoin Code" />
                </div>
                <div class="sybatcoin-card-title">
                    <h3>Higher Order Arithmetics</h3>
                </div>
                <div class="sybatcoin-card-context">
                    <p>Carry our more advanced mathematical oprations on qubitnary operations or use the qubitnary calculator software for studies, read the official documentations written by AntimonyIQ</p>
                </div>
                <div class="sybatcoin-card-buttons">
                    <a href="../whitepaper/qubitnarynumbers.pdf" style="padding: 10px; padding-left: 30px; padding-right: 30px; color: #ffffff; background-color: #272727; border-radius: 5px;">Download documentations</a>
                </div>
            </div>
        </div>
    </div>
</div>
