@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 50px;">
    <h1 class="display-4 txtr" style="font-family: 'Poppins', sans-serif; font-size: 25px;">Sybatcoin is a financial<br> service system on quantum<br> technology</h1>
    <p style="font-size: 12px;">@ViewData["BuisnessModel1"] <br> @ViewData["BuisnessModel2"] <br> @ViewData["BuisnessModel3"] </p>
    <img class="hlogo" src="~/img/barbershop.webp" alt="logo" />
</div>
<div class="text-center" style="padding-top: 50px;">
<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/api.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Discover Our APIs</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/shop.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Buy Sybatcoin</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/exchange.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Exchanges</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/whitepaper.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">whitepaper</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/explorer.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Block Explorer</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- 

<div class="text-center" style="padding-top: 100px;">
    <h3>Meet The Sybat Network Ecosystem</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card text-left" style="width: 420px;">
                    <div class="card-body">
                        <img src="~/img/oudrado.png" alt="api" />
                        <h5 class="card-title">Oudrado</h5>
                        <img src="~/img/android.png" alt="android" />
                        <img src="~/img/apple.svg" alt="apple" />
                        <img src="~/img/mac.png" alt="mac" />
                        <img src="~/img/windows.png" alt="windows" />
                        <p class="card-text">A break through in finance technology to eliminate third party exchange, Bots, access to Mortgage in crypto technology and Insurance.</p>
                        <a href="#" class="card-link">Learn More</a>
                        <div class="alink">
                            <a href="https://sybatscan.com">Try QCB Testnet <img src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-left" style="width: 420px;">
                    <div class="card-body">
                        <img src="~/img/sbtcard.png" alt="api" />
                        <h5 class="card-title">SybatOS</h5>
                        <img src="~/img/cpu.svg" alt="apple" />
                        <p class="card-text">A Blockchain focused, mobile fiendly operating system on the basis of linux kernel designed on special hardware to power algorithms and node.</p>
                        <a href="#" class="card-link">Learn More</a>
                        <div class="alink">
                            <a href="https://sybatscan.com">Try QCB Testnet <img src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-left" style="width: 420px; margin-top: 10px;">
                    <div class="card-body">
                        <img src="~/img/sbtcard.png" alt="api" />
                        <h5 class="card-title">Sybat Quantum</h5>
                        <img src="~/img/blockchain.png" alt="windows" />
                        <p class="card-text">Sybat Qunatum Clusterized Blockchain QCB is a blockchain technology aiming to eliminate transaction speed delays, built on the layers of IonQ quantum machines.</p>
                        <a href="#" class="card-link">Learn More</a>
                        <div class="alink">
                            <a href="https://sybatscan.com">Try QCB Testnet <img src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->
