@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid p-1" style="padding-top: 50px;">
    <h1 class="display-4 txtr" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: 600; margin-top: 30px;">World's First Quantum <br /> Blockchain Ecosystem</h1>
    <p style="font-size: 12px;">@ViewData["BuisnessModel1"] <br> @ViewData["BuisnessModel2"] <br> @ViewData["BuisnessModel3"] </p>
    <img class="hlogo" src="~/img/barbershop.webp" alt="logo" />
</div>
<div class="text-center container-fluid p-1" style="padding-top: 50px;">
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/api.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #000000;">Discover Our APIs</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/shop.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #000000;">Buy Sybatcoin</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/exchange.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #000000;">Exchanges</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/whitepaper.png" alt="api" /></a></li>
                <li><a href="./whitepaper/Sybatcoin.pdf" style="color: #000000;">whitepaper</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/img/explorer.png" alt="api" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #000000;">Block Explorer</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="text-center container-fluid p-1" style="padding-top: 100px;">
    <h3>Meet The Sybat Network Ecosystem</h3>
    <div class="container-fluid p-0">
        <div class="row" style="padding: 10px;">
            <div class="col-sm p-1">
                <div class="card text-left p-0" >
                    <div class="container-fluid p-4" style="padding: 10px;">
                        <img src="~/img/transaction.png" alt="transaction" />
                        <h5 class="card-title" style="font-size: 32px; color: #373737;">Transactions</h5>
                        <img src="~/img/android.png" alt="android" />
                        <img src="~/img/apple.svg" alt="apple" />
                        <img src="~/img/mac.png" alt="mac" />
                        <img src="~/img/windows.png" alt="windows" />
                        <p class="card-text">Using qunatum mechnics on the decentralized network provided by blockchain to move forward with network transaction at a staggering rate.</p>
                        <a href="#" class="card-link" style="font-size: 20px; color: #373737;">Learn More</a>
                        <div class="alink" style="margin-top: 50px;">
                            <a href="https://sybatscan.com">Download Sybat Wallets <img style="float: right; padding-right: 10px;" src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm p-1">
                <div class="card text-left p-0">
                    <div class="container-fluid p-4">
                        <img src="~/img/communication.png" alt="communication" />
                        <h5 class="card-title" style="font-size: 32px; color: #373737;">Communication</h5>
                        <img src="~/img/cpu.svg" alt="apple" />
                        <p class="card-text"> Sybatcoin is the only coin that offers quantum communications solution through Quantum Key Distribution, protected by built-in quantum encryption.</p>
                        <a href="#" class="card-link" style="font-size: 20px; color: #373737;">Learn More</a>
                        <div class="alink" style="margin-top: 50px;">
                            <a href="https://sybatscan.com">Develop on Sybat Network <img style="float: right; padding-right: 10px;" src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm p-1">
                <div class="card text-left p-0">
                    <div class="container-fluid p-4">
                        <img src="~/img/teleportation.png" alt="Teleportation" />
                        <h5 class="card-title" style="font-size: 32px; color: #373737;">Teleportation</h5>
                        <img src="~/img/blockchain.png" alt="windows" />
                        <p class="card-text"> Sybat teleportation as a technique for transferring Transactions information from a sender to a receiver some distance away in time.</p>
                        <a href="#" class="card-link" style="font-size: 20px; color: #373737;">Learn More</a>
                        <div class="alink" style="margin-top: 50px;">
                            <a href="https://sybatscan.com">Use SQUB Testnet <img style="float: right; padding-right: 10px;" src="~/img/arrow_right.svg" alt="arrow"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-4 rrr" style="background-image: url('img/bg_img_olympic.png'); padding:50px; color: #fff; margin-top:100px; border-radius:5px;">
    <div class="row">
        <div class="col-sm p-1">
            <h2 class="hyperledge" style=" font-weight: 400; font-style: 'Poppins', sans-serif;">Hyperledger Quantum <br> Blockchain Solution.</h2>
            <span class="sybatcoin" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 38px; letter-spacing:12px; font-weight: 400; font-style: 'Poppins', sans-serif; text-fill-color: transparent; background-clip: text;">SYBATCOIN</span>
            <p id="description" style="font-size: 18px;">The prevailing model of quantum computation describes the computation in terms of a network of quantum logic gates. Entanglement is an intrinsically quantum effect that involves nonclassical correlations, usually between spatially separated quantum systems. <br>
                This phenomenon was described by Einstein as “spooky action at a distance”, and yet it forms the basis of nearly all quantum information platforms, such as quantum computers and quantum networks.
            </p>
        </div>
        <div class="col-sm p-1">
            <h1></h1>
        </div>
    </div>
</div>