@page
@{
}
 
<div class="dev-card display-4">
    <div class="dev-flavour">
        <h1>Welcome</h1>
        <p>Learn Sybatcoin and start building <br/> Sybatcoin-based applications.</p>
    </div>
</div>
<div class="selections">
    <div class="row">
        <div class="col-md">
            <div class="selections-card">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="selections-img">
                        <img src="https://img.icons8.com/fluency/96/000000/api.png"/>
                    </div>
                    <div class="selections-title">
                        <h3>RPC API</h3>
                    </div>
                    <div class="selections-content">
                        <p>Find detailed information about the Sybat quantum blockchain protocol and platform integration specifications.</p>
                    </div>
                    <div class="selections-status">
                        <p>Development</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="selections-card">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="selections-img">
                        <img src="https://img.icons8.com/fluency/96/000000/communication.png"/>
                    </div>
                    <div class="selections-title">
                        <h3>Communication Docs</h3>
                    </div>
                    <div class="selections-content">
                        <p>Learn how to write quantum secured decentralised user profile using the dovoscript programming language on sybat.</p>
                    </div>
                    <div class="selections-status">
                        <p>Development</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="selections-card">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="selections-img">
                        <img src="https://img.icons8.com/color/96/000000/portal.png"/>
                    </div>
                    <div class="selections-title">
                        <h3>Teleportation</h3>
                    </div>
                    <div class="selections-content">
                        <p>Explore wiki for the solution to data tracing and user identity theft using quntum entanglement and teleportation. </p>
                    </div>
                    <div class="selections-status">
                        <p>Development</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="selections-card">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="selections-img">
                        <img src="https://img.icons8.com/fluency/96/000000/financial-dynamic-presentation.png"/>
                    </div>
                    <div class="selections-title">
                        <h3>Transaction Docs</h3>
                    </div>
                    <div class="selections-content">
                        <p>create wallets, initiate and broadcast transaction accross the quantum blockchain network at a near zero fee</p>
                    </div>
                    <div class="selections-status">
                        <p>Development</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>