@page
@{
}
 
<div class="dev-card display-4">
    <div class="dev-flavour">
        <h1>Welcome</h1>
        <p>Learn Sybatcoin and start building <br/> Sybatcoin-based applications.</p>
    </div>
</div>
<div class="selections">
    <div class="row">
        <div class="col-md">

        </div>
        <div class="col-md">
            
        </div>
        <div class="col-md">
            
        </div>
    </div>
</div>