<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d290d4fb-c94a-4e4e-982a-369f0f0e8229/resourceGroups/sybat_network/providers/Microsoft.Web/sites/sybatnetwork</ResourceId>
    <ResourceGroup>sybat_network</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://sybatnetwork.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sybatnetwork.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sybatnetwork</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sybatnetwork</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>