@page
@{
}
<div class="sybat-solution">
    <div class="solution-head text-center">
        <h1 class="display-4">A balance of effective innovation,<br>performance and security</h1>
        <img class="hlogo" src="~/img/solution_orbital.svg" alt="logo" style="margin-top:50px;"/>
    </div>
</div>


<!-- 

    A balance of effective innovation, <br> performance and security, <br> Sybatcoin is Redefining the Future <br> with Qubitcoin solutions
-->

<section class="edica-landing-section edica-landing-services" style="margin-top: 50px;">
    <div class="container">
        <h4 class="edica-landing-section-subtitle">Solutions sybatcoin provide</h4>
        <h5 class="edica-landing-section-title"> Sybatcoin, is the world's first quantum-secured blockchain and transactional token, providing an enterprise-ready platform with quantum-safe blockchain technology that can be used by governments and organizations to protect their data both at rest and in data centers</h5>
        <div class="row">
            <div class="col-md-6 landing-service-card" data-aos="fade-right" style="color: #fff; background-color: #000; border-radius: 3px; margin-top: 5px;">
                <img src="~/img/blockchain_technology.svg" alt="card img" class="img-fluid service-card-img">
                <h4 class="service-card-title" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent; background-clip: text;">Quantum Blockchain Technology</h4>
                <p class="service-card-description">The most technologically advanced blockchain on the market. Sybatcoin is the first Proof of State (QPoS) blockchain that uses quantum mechanics, the revolutionary anonymizing technique for cryptocurrencies</p>
            </div>
            <div class="col-md-6 landing-service-card" data-aos="fade-left" style="color: #fff; background-color: #000; border-radius: 3px; margin-top: 5px;">
                <img src="~/img/q_communication.svg" alt="card img" class="img-fluid service-card-img">
                <h4 class="service-card-title" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent; background-clip: text;">Communication</h4>
                <p class="service-card-description">The latest application of quantum cryptography, the Sybatcoin blockchain uses quantum key distribution (QKD) to offer un-hackable end-to-end encryption to Quantum information science.</p>
            </div>
            <div class="col-md-6 landing-service-card" data-aos="fade-right" style="color: #fff; background-color: #000; border-radius: 3px; margin-top: 5px;">
                <img src="~/img/q_transact.svg" alt="card img" class="img-fluid service-card-img">
                <h4 class="service-card-title" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent; background-clip: text;">Transaction.</h4>
                <p class="service-card-description"> A quantum-resistant blockchain, offers a fast, efficient and secure worldwide payment system network. The fastest and most secure cryptocurrency in the market</p>
            </div>
            <div class="col-md-6 landing-service-card" data-aos="fade-left" style="color: #fff; background-color: #000; border-radius: 3px; margin-top: 5px;">
                <img src="~/img/q_teleportation.svg" alt="card img" class="img-fluid service-card-img">
                <h4 class="service-card-title" style="background: linear-gradient(135deg, #f89d9d 0%, #cb7ffb 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent; background-clip: text;">Teleportation</h4>
                <p class="service-card-description">Imagine a cryptocurrency that is faster than any other cryptocurrency. Well Sybatcoin is not just fast but it delivers Quantum Teleportation and that too at no extra cost.</p>
            </div>
        </div>
    </div>
</section>