@page
@{
}
<div class="text-center container-fluid p-1" style="padding-top: 50px; background-color: #585858;">
    <h1 class="display-4 txtr" style="font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: 200; margin-top: 30px;">A balance of effective innovation, <br> performance and security, <br> Sybatcoin is Redefining the Future <br> with Qubitcoin solutions</h1>
    <img class="hlogo" src="~/img/solution_orbital.png" alt="logo" />
</div>