@page
@model sybatnetwork.Views.Docs.IndexModel
@{

}
<div class="dev-card display-4">
    <div class="dev-flavour">
        <h1>Welcome</h1>
        <p>Read the docs, understand sybat network technology </p>
    </div>
</div>
