@page
@model sybatnetwork.Views.Sales.ContactModel
@{
    // let firstname = "firstname";
}
<div class="container display-4">
    <p>Contact the sales Team</p>
</div>
<div class="container">
    <form method="post">
        <div class="firstname">
            <input class="input" id="firstname" name="firstname" type="text" placeholder="firstname" value="" autocomplete="name" required />
        </div>
        <div class="lastname">
            <input class="input" id="lastname" name="lastname" type="text" placeholder="lastname" value="" autocomplete="name" required />
        </div>
        <div class="email">
            <input class="input" id="email" name="email" type="email" placeholder="Business Email" value="" autocomplete="name" required />
        </div>
        <div class="organisation">
            <input class="input" id="organisation" name="organisation" type="text" placeholder="Organisation Name" value="" autocomplete="name" required />
        </div>
        <div class="organisation-type">
            <select class="input" name="organisationType" id="organisationType" required>
                <option value="1">Business</option>
                <option value="2">Business 2</option>
                <option value="3">Business 3</option>
            </select>
        </div>
        <div class="country">
            <select class="input" name="country" id="country" required>
                <option value="1">Business</option>
                <option value="2">Business 2</option>
                <option value="3">Business 3</option>
            </select>
        </div>
        <div class="message">
            <textarea class="input" cols="30" rows="8" placeholder="Message" required></textarea>
        </div>
        <div class="submit">
            <input class="input" id="submit" name="submit" type="submit" value="Submit" placeholder="Submit" />
        </div>
    </form>
</div>
