@page
@model sybatnetwork.Views.Sales.ContactModel
@{
    // let firstname = "firstname";
}
<div class="container display-4">
    <p>Contact the sales Team</p>
</div>
<div class="container">
    <form method="post">
        <div class="firstname">
            <input class="input" id="firstname" name="firstname" type="text" placeholder="firstname" value="" autocomplete="name" required />
        </div>
    </form>
</div>
 